.forgot-modal-body {
    padding: 20px !important;
    background-color: #f9f9f9 !important;
}

.forgot-modal-header {
    background-color: #f1f1f1 !important;
    color: white !important;
    border-bottom: none !important;
}

.forgot-modal-title {
    color: #FFA500!important;
    font-weight: bold !important;
}

.forgot-modal-footer {
    background-color: #f1f1f1 !important;
    border-top: none !important;
}