.image-preview-wrapper {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    margin-top: 1rem;
    flex-wrap: wrap;
}

.image-preview {
    max-width: 300px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ingredient-list {
    background-color: #f8f9fa;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.05);
    padding-left: 2rem;
}


.search-button {
    font-weight: 400 !important;
    background-color: #FFA500 !important;
    border-color: #FFA500 !important;
}

.search-button:hover {
    background-color: #F25C05 !important;
    border-color: #F25C05 !important;
}